<!--<ion-view view-title="交大邦" hide-back-button="true" class="home-wrap">-->
<div class="home-wrap" ng-controller="HomeCtrl">

  <ion-header-bar class="top-header-bg-color main-header">
    <button class="button button-clear btn-search" ng-click="openSearchModal()">
    </button>
    <h1 class="title">交大邦</h1>
    <button class="button button-clear btn-release" ng-click="openReleaseTopic()">
    </button>
  </ion-header-bar>
  <ion-content class="main-body-bg-color has-main-menu" scrollbar-y='false'>
    <div class="main-top-menu">
      <div class="sub-item" ><a ui-sref="jdb.topic({tag:1})" class="menu-icon shangji" href="">商机</a></div>
      <div class="sub-item"><a ui-sref="jdb.topic({tag:2})"  class="menu-icon zhaopin" href="">招聘</a></div>
      <div class="sub-item"><a ui-sref="jdb.topic({tag:3})"  class="menu-icon xiaoqi" href="">校企</a></div>
      <div class="sub-item"><a class="menu-icon zatan" ui-sref="jdb.topic({tag:4})">杂谈</a></div>
      <div class="sub-item"><a class="menu-icon zixun" ui-sref="jdb.topic({tag:5})">咨询</a></div>
    </div>
    <div class="topic-wrap">
      <div class="header">
        <!--<a class="active" href="">热门</a>-->
        <a ng-class="{'true': 'active'}[topicType == 2]" href="#" ng-click="changeTopicType(2)">最新</a>
        <a ng-class="{'true': 'active'}[topicType == 3]" href="#" ng-click="changeTopicType(3)">好友</a>
      </div>
      <!-- -->
      <div class="sub-item" ng-repeat="item in topicList track by item.id">
        <div class="topic-user">
          <div class="user-img"><img ng-src="{{staticHost +item.createUser.alumnus.headPicPath }}" class="user-head-img" src="/img/topic-user-img.png" alt=""/></div>
          <div class="topic-info-wrap">
            <div class="name-block">
              <span class="name" once-text="item.createUser.alumnus.realName"></span><i class="split">|</i>
              <span class="light-color" once-text="item.createUser.alumnus.grade"></span>
              <span class="light-color" once-text="item.createUser.alumnus.school"></span>
              <div class="send-time-wrap">
                <div class="send-time light-color" >
                  <span once-text="item.timePast"></span>
                  <i class="ion-chevron-down" ng-click="openActionSheet(item.createUser)"></i>
                </div>
              </div>
            </div>
            <div class="job light-color">
              <span  once-text="item.createUser.alumnus.company"></span>
              <span once-text="item.createUser.alumnus.title"></span>
            </div>
            <div ui-sref="jdb.topic-detial({detailID: {{item.id}} })" class="content more" once-text="item.content">
            </div>
            <div class="topic-tag">
              <a href="" once-text="item.topicType.typeName"></a>
            </div>
          </div>
        </div>
        <div class="topic-op">
          <a href=""><i class="icon-op share"></i>{{item.sv}}</a>
          <a href=""><i class="icon-op comments"></i>{{item.pv}}</a>
          <a href="#" ng-class="{'true': 'active'}[item.isLiked]" ng-click="likeTopic(item)"><i class="icon-op perfect"></i>{{item.lv}}</a>
        </div>
      </div>
    </div>
  </ion-content>
</div>
