<ion-view view-title="交大邦" hide-back-button="true">
  <!--<ion-nav-bar class="main-header">-->
    <!--<ion-nav-buttons side="left">-->
      <!--<button class="button button-clear btn-search" ng-click="openSearchModal()">-->
      <!--</button>-->
    <!--</ion-nav-buttons>-->
    <!--<h1 class="title">交大帮</h1>-->
    <!--<ion-nav-buttons side="right">-->
      <!--<button class="button button-clear btn-release" ng-click="openReleaseTopic()">-->
      <!--</button>-->
    <!--</ion-nav-buttons>-->
  <!--</ion-nav-bar>-->



  <ion-slide-box show-pager="false" delegate-handle="main-slide"  on-slide-changed="slideHasChanged($index)">
    <ion-slide class="home-wrap">
      <div ng-include="'/templates/home-box.html'"></div>
    </ion-slide>
    <ion-slide >
      <div ng-include="'/templates/activity/activity-box.html'"></div>
    </ion-slide>
    <ion-slide>
      <div ng-include="'/templates/discover/box.html'"></div>
    </ion-slide>
    <ion-slide>
      <div ng-include="'/templates/message/box.html'"></div>
    </ion-slide>
    <ion-slide>
      <div ng-include="'/templates/mine/box.html'"></div>
    </ion-slide>
  </ion-slide-box>

  <div class="bar bar-footer main-menu--footer">
    <div class="main-menu-wrap">
      <div class="m-item" ng-click="changeSlide(0)"><a class="main-icon home" ng-class="{true:'active'}[selectedIndex == 0]">交大邦</a></div>
      <div class="m-item" ng-click="changeSlide(1)"><a class="main-icon activity" ng-class="{true:'active'}[selectedIndex == 1]">活动</a></div>
      <div class="m-item" ng-click="changeSlide(2)"><a class="main-icon discover" ng-class="{true:'active'}[selectedIndex == 2]">发现</a></div>
      <div class="m-item" ng-click="changeSlide(3)"><a class="main-icon message" ng-class="{true:'active'}[selectedIndex == 3]">消息</a></div>
      <div class="m-item" ng-click="changeSlide(4)"><a class="main-icon mine" ng-class="{true:'active'}[selectedIndex == 4]">我的</a></div>
    </div>
  </div>

</ion-view>
