
.info-edit-wrap{
 .margintop22{
  margin-top: 22px;
 }
 .edit-item-wrap{
  .item{
   border: none;
  }
  input[type=text]{
   height: 29px;
  }
 }
 .btn-wrap{
  margin-top:24px;
  button{
   width: 90%;
  }
 }
 .school-list{
  .item{
   border-top: 1px solid $main-font-color3;
   &:first-child{
    border-top: none;
   }
   &.active{
    background-color: $main-header-bg-color;
    color: #fff;
   }
  }
 }
}