@charset "utf-8";
//基于nearby

.message-header{
  .icon-nearby{
    display: inline-block;
    width: 20px;
    height: 20px;
    &:after{
      content: ' ';
      display: inline-block;
      width: 25px;
      height: 21px;
      background-image: url(/img/message-nearby.png);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: 100%;
      background-size: 100%;
      margin-top: 5px;
    }
  }

}

.message-wrap{
  .item{
    padding-left: 0!important;
    position: relative;
    .msg-unread{
      position: absolute;
      top: 7px;
      left: 48px;
      right: inherit;
      padding: 1px 6px;
      font-size: 12px;
    }
    .item-content {
      padding-left: 72px;
      padding-right: 10px!important;
      min-height: 74px!important;
    }
    .item-options{
      .button{
        height: 99%;
        width: 80px;
        text-align: center;
        display: inline-block;
        line-height: 74px;
      }
    }

  }

}