@charset "utf-8";
@import "flex";
.topic-detail{
  .detail-content-wrap{
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    .top{
      @include flexbox;
      .head-img{
        @include flex(0,0,auto);
        margin-top: 5px;
        margin-right: 5px;
        width: 27px;
        height: 27px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      .info{
        width: 100%;
        position: relative;
        .top{
          .name{
            font-size: 14px;
            font-weight: 600;
          }
          .split{
            margin: 0 5px;
          }
        }
        .bottom{

        }
        .time{
          position: absolute;
          top: 10px;
          right: 0;
        }
        span{
          margin-right: 5px;
        }
      }

      .time{
        //float: left;
      }

    }
    .content{
      padding: 5px 0;
    }
    .imgs{
      @include flexbox;
      @include flex-wrap(wrap);
      //@include justify-content(space-between);
      margin-top: 5px;
      .img-item{
        @include flex(0,1,auto);
        width: 95px;
        height: 95px;
        margin-bottom: 5px;
        margin-right: 5px;;

      }

    }
    .tags{
      margin-top: 10px;
      .tag{
        background-color: #ffb300;
        color: #fff;
        padding: 2px 10px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

      }
    }
  }

}

.topic-detail-footer{
  @include flexbox;
  @include justify-content(space-around);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #e6e6e6;
  //border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2px;
  text-align: center;
  a{
    @include flex(0,0,auto);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    //width: 50px;
    clear: both;
    &:nth-child(2){
    }
    .icon-op{
      float: left;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      -webkit-background-size: 100%;
      background-size: 100%;
      margin-right: 10px;
      &.share{
        margin-top: 3px;
        width: 14px;
        height: 11px;
        background-image: url(/img/topic-share.png);
      }
      &.comments{
        margin-top: 3px;
        width: 14px;
        height: 14px;
        background-image: url(/img/topic-comments.png);
      }
      &.perfect{
        margin-top: 3px;
        width: 17px;
        height: 14px;
        background-image: url(/img/topic-great.png);
      }
    }
    &.active{
      color: #ffb300;
      .perfect{
        background-image: url(/img/topic-great-a.png);
      }
    }
  }
}
.topic-replay-wrap{
  .content-wrap{
    margin-top: 10px;
    padding: 0 10px;
    .txt-input{
      width: 100%;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid $main-font-color3;
    }
  }
  .btn{
    margin-top: 20px;
    padding: 0 10px;
    .button{

    }
  }

}
