body{
  font-size: 12px;
  background-color: #666666;
}
a{
  text-decoration: none;
  color: #666;
}
//顶部颜色
$main-header-bg-color: #2d69c4;
//提示色
$main-color-yellow: #ffb300;

//背景色
$main-body-bg-color: #f0f0f0;
.main-body-bg-color{
  background-color: $main-body-bg-color;
}


//文字颜色
$main-font-color: #333333;
$main-font-color2:#999999 ;
$main-font-color3:#dddddd;


.main-font-color {
  color: #333333;
}
.main-font-color2 {
  color: #999999;
}
.main-font-color3{
  color: #dddddd;
}



//顶部背景色
.top-header-bg-color,.main-header{
  background-color: $main-header-bg-color;
  color: #fff;
  .title,.icon{
    color: #fff;
  }
}

//重置actionsheet字体大小
.action-sheet .button{
  font-size: 16px;
}


.txt-center{
  text-align: center;
}

.center{
  margin: 0 auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
.invalid{
  background-color:$main-font-color3!important;
}

.button-blue{
  background-color: $main-header-bg-color;
  color: #fff;
}
.button-yellow{
  background-color: $main-color-yellow;
}