<div ng-controller="DiscoverCtrl">
  <ion-header-bar class="top-header-bg-color">
    <h1 class="title">发现</h1>
  </ion-header-bar>
  <ion-content scrollbar-y='false' class="discover-home-wrap main-body-bg-color">
    <div class="top-banner-wrap">

      <ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" show-pager="true" delegate-handle="discover-slider">
        <ion-slide ng-repeat="item in model.focusList track by $index" ng-click="slideClick(item)" >
          <img class="discover-banner-item" ng-src="{{staticHost + item.picpath}}" alt=""/>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="block-wrap">
      <div class="header">
        <h4>推荐圈子</h4>
        <a class="right" ui-sref="jdb.discover-group-list">查看更多<i class="ion-ios-arrow-right"></i></a>
      </div>
      <div class="list-wrap">
        <div class="sub-item" ng-repeat="item in model.circleList track by item.id">
          <img ng-src="{{staticHost + item.picpath}}" alt=""/>
          <span class="title" once-text="item.title"></span>
          <span class="count">234人</span>
        </div>
      </div>
    </div>
    <!-- -->

    <div class="block-wrap">
      <div class="header">
        <h4>附近好友</h4>
        <a class="right" ui-sref="jdb.nearby">查看更多<i class="ion-ios-arrow-right"></i></a>
      </div>
      <div class="list-wrap friends">
        <div ng-repeat="item in model.userList track by $index" class="sub-item" ng-click="openUserCard(item.phone)">
          <img class="user-head" ng-src="{{staticHost + item.headpic}}" alt=""/>
          <span class="title" once-text="item.name"></span>
          <span class="count" once-text="item.grade"></span></div>
      </div>
    </div>
    <!-- -->
  </ion-content>
  <div ng-include="'/templates/part/main-menu.html'"></div>
</div>
