<ion-view>
  <ion-header-bar class="top-header-bg-color">
    <button class="button button-clear" ui-sref="jdb.discover">
      <i class="icon ion-ios-arrow-left"></i>
      返回
    </button>
    <h1 class="title">附近的人</h1>
  </ion-header-bar>
  <ion-content class="mine-group-wrap main-body-bg-color nearby-wrap" scrollbar-y='false'>
    <!--<div class="list">-->
      <!--<div class="item item-thumbnail-left">-->
        <!--<img src="" alt=""/>-->
        <!--<div class="info-wrap">-->
          <!--<span class="name">将重心</span>-->
          <!--<span class="grade">09&nbsp;北京交大</span>-->

        <!--</div>-->
        <!--<p></p>-->
      <!--</div>-->
    <!--</div>-->
    <div class="list mine-group-list">
      <div class="item item-thumbnail-left" href="#">
        <img class="mine-group-img" src="/img/2015.jpg">
        <h2>
          <span class="title">佟大为</span>
          <span class="grade">09&nbsp;西安交大</span>
          <span class="distance right">9km</span>
        </h2>
        <p>育成集团</p>
      </div>
      <div class="item item-thumbnail-left" href="#">
        <img class="mine-group-img" src="/img/2015.jpg">
        <h2>
          <span class="title left">马伊琍</span>
          <span class="grade">09&nbsp;西安交大</span>
          <span class="distance right">9km</span>
        </h2>
        <p>牛娜毅力</p>
      </div>
    </div>
  </ion-content>
</ion-view>
