<ion-modal-view ng-controller="UserCardCtrl">
  <ion-header-bar class="top-header-bg-color">
    <button class="button button-clear back-button" ng-click="cancel()">
      取消
    </button>
    <h1 class="title">个人名片</h1>
    <button class="button button-clear" ng-click="showMore()">
      <i class="icon ion-more"></i>
    </button>
  </ion-header-bar>
  <ion-content class="has-header main-body-bg-color">
    <div class="user-card-wrap">
      <div class="info-wrap">
        <img class="head-img" ng-src="{{staticHost + model.headPicPath}}" alt=""/>
        <div class="info-left">
          <h5><span once-text="model.realName"></span> <i class="gender male"></i></h5>
          <span class="light-color"><span once-text="model.company"></span>&nbsp;<span once-text="model.title"></span></span>
          <span class="light-color"><span once-text="model.department"></span> <i class="split"></i>金融</span>
        </div>
        <div class="me" ng-click="showSearch()">ME</div>
      </div>
      <div class="attribute-wrap">
        <div class="attr-item"><i class="icon-img school"></i><span once-text="model.school"></span></div>
        <div class="attr-item yellow"><i class="icon-img grade"></i><span once-text="model.grade"></span></div>
        <div class="attr-item"><i class="icon-img phone"></i><span once-text="model.phone"></span></div>
        <div class="attr-item yellow"><i class="icon-img email"></i><span once-text="model.email"></span></div>
        <div class="attr-item"><i class="icon-img wechat"></i><span once-text="model.weixin"></span></div>
        <div ng-if="!!model.remark" class="attr-item yellow"><i class="icon-img remark"></i><span once-text="model.remark"></span></div>
      </div>
      <div class="link">
        <span class="title">加入Ta的圈子</span>
        <span class="right light-color">12人 <i class="ion-chevron-right"></i></span>
      </div>
      <div class="link">
        <span class="title">Ta的话题</span>
        <span class="right light-color">12人 <i class="ion-chevron-right"></i></span>
      </div>
      <div class="btn-wrap">
        <button ng-click="sendMessage()" class="button button-positive button-block">发消息</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
