<ion-view>
  <ion-header-bar class="top-header-bg-color">
    <button class="button button-clear" ui-sref="jdb.home">
      <i class="ion-ios-arrow-left"></i>
      首页
    </button>
    <h1 class="title" once-text="topicTitle"></h1>
  </ion-header-bar>
  <div class="topic-tab-header">
    <div class="tip ng-hide" ng-if="hasTip">
      马云的面子工程吧。多试试，反正暂时对
      <i class="ion-ios-close-outline right" ng-click="closeTip()"></i>
    </div>
    <div class="tab">
      <div ng-class="{'true': 'active'}[tabIndex == 2]" ng-click="changeTabs(2)">全部</div>
      <div ng-class="{'true': 'active'}[tabIndex == 3]" ng-click="changeTabs(3)">好友</div>
    </div>
  </div>
  <ion-content class="main-body-bg-color home-wrap has-header-search " ng-class="{'true': 'topic-has-header'}[hasTip]" scrollbar-y='false'>
    <!-- -->
    <div class="topic-wrap">

      <div class="sub-item" ng-repeat="item in topicList track by item.id">
        <div class="topic-user">
          <div class="user-img"><img ng-src="{{staticHost + item.createUser.alumnus.headPicPath}}" src="/img/topic-user-img.png" alt=""/></div>
          <div class="topic-info-wrap">
            <div class="name-block">
              <span class="name" once-text="item.createUser.alumnus.realName"></span><i class="split">|</i>
              <span class="light-color" once-text="item.createUser.alumnus.grade"></span>
              <span class="light-color" once-text="item.createUser.alumnus.school"></span>
              <div class="send-time-wrap">
                <div class="send-time light-color" href="#"><span once-text="item.timePast"></span><i class="ion-chevron-down" ng-click="showDropMenu(1)"></i>
                </div>
              </div>
            </div>
            <div class="job light-color">
              <span once-text="item.createUser.alumnus.company"></span>
              <span  once-text="item.createUser.alumnus.title"></span>
            </div>
            <div class="content" ui-sref="jdb.topic-detial({detailID: {{item.id}} })">
              <pre once-text="item.content"></pre>
            </div>
            <div class="content-imgs">
              <img ng-repeat="img in item.picPath.split(',') track by $index" ng-src="{{staticHost + img}}" class="topic-content-img" src="/img/abc.png" alt=""/>
            </div>
            <div class="topic-tag">
              <a href="#" once-text="item.topicType.typeName"></a>
            </div>
          </div>
        </div>
        <div class="topic-op">
          <a href=""><i class="icon-op share"></i>{{item.sv || 0}}</a>
          <a href=""><i class="icon-op comments"></i>{{item.pv || 0}}</a>
          <a href="" ng-class="{'true':'active'}[item.isLiked]" ng-click="likeTopic(item)"><i class="icon-op perfect"></i>{{item.lv || 0}}</a>
        </div>
      </div>
      <!-- -->
    </div>
    <ion-infinite-scroll
      ng-if="hasMoreData"
      on-infinite="refresh()"
      distance="0%"
      immediate-check="true">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
