<ion-modal-view ng-controller="TopicReplyCtrl">
  <ion-header-bar class="top-header-bg-color">
    <button class="button button-clear back-button" ng-click="cancel()">
      取消
    </button>
    <h1 class="title">回复话题</h1>
  </ion-header-bar>
  <ion-content class="has-header topic-replay-wrap">
    <div class="content-wrap">
      <textarea ng-model="replyForm.content" class="txt-input" placeholder="请输入回复内容" rows="10"></textarea>
    </div>
    <div class="btn">
      <button ng-click="reply()" class="button button-positive button-block">回复</button>
    </div>
  </ion-content>
</ion-modal-view>
