<ion-view view-title="我的" ng-controller="MineCtrl">
  <ion-header-bar class="top-header-bg-color">
    <button class="button button-clear" ui-sref="jdb.mine">
      <i class="icon ion-ios-arrow-left"></i>
      返回
    </button>
    <h1 class="title">个人信息</h1>
  </ion-header-bar>
  <ion-content class="mine-info-wrap main-body-bg-color" scrollbar-y='false'>
    <div class="user-img-list list">
      <div class="item">
        <div class="middle">头像</div>
        <div class="info" ngf-select="upload($file)">
          <i class="ion-chevron-right right"></i>
          <img class="user-img right" ngf-src="tempFile" />
        </div>
      </div>
    </div>

    <div class="basic-list list">
      <div class="main-font-color2 item item-header">
        基本信息
      </div>
      <div class="item">
        <div>
          姓名<span class="start"></span>
        </div>
        <div class="info">
          <span once-text="User.realName"></span><i class="ion-chevron-right"></i>
        </div>
      </div>
      <div class="item">
        <div>
          英文名称<span class="start"></span>
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:2})">
          <span once-text="User.enRealName"></span><i class="ion-chevron-right"></i>
        </div>
      </div>
      <div class="item">
        <div>
          性别<span class="start"></span>
        </div>
        <div class="info">
          <span once-text="['女','男'][User.sex]"></span><i class="ion-chevron-right"></i>
        </div>
      </div>

      <div class="item">
        <div>
          微信
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:4})">
          <span once-text="User.weixin"></span><i class="ion-chevron-right"></i>
        </div>
      </div>
      <div class="item">
        <div>
          邮箱
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:5})">
          lican@163.com<i class="ion-chevron-right"></i>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="list">
      <div class="main-font-color2 item item-header">学校信息</div>
      <div class="item">
        <div>
          学校<span class="start"></span>
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:6})">
          <span once-text="User.school"></span>
          <i class="ion-chevron-right"></i>
        </div>
      </div>
      <div class="item">
        <div>
          院系<span class="start"></span>
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:7})">
          <span once-text="User.department"></span>
          <i class="ion-chevron-right"></i>
        </div>
      </div>

      <div class="item">
        <div>
          年级<span class="start"></span>
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:8})">
          <span once-text="User.grade"></span>
          <i class="ion-chevron-right"></i>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="list">
      <div class="main-font-color2 item item-header">工作信息</div>
      <div class="item">
       <div>
         公司
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:9})">
          <span once-text="User.company"></span>
          <i class="ion-chevron-right"></i>
        </div>
      </div>
      <div class="item">
        <div>
          职位
        </div>
        <div class="info" ui-sref="jdb.infoedit({tag:10})">
          <span once-text="User.title"></span>
          <i class="ion-chevron-right"></i>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="list">
      <div class="main-font-color2 item item-header">安全信息</div>
      <div class="item">
        <div>
          电话<span class="start"></span>
        </div>
        <div class="info">
          <span once-text="User.phone"></span><i class="ion-chevron-right"></i>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="list">
      <div class="main-font-color2 item item-header">备注信息</div>
      <div class="item" ui-sref="jdb.infoedit({tag:11})">
        <div class="info txt-left">
          <span once-text="User.remark"></span>
          <i class="ion-chevron-right right"></i>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
