<ion-view view-title="我的" ng-controller="InviteCodeCtrl">
  <ion-header-bar class="top-header-bg-color">
    <button class="button button-clear" ui-sref="jdb.mine">
      <i class="icon ion-ios-arrow-left"></i>
      返回
    </button>
    <h1 class="title">我的</h1>
  </ion-header-bar>
  <ion-content class="invite-code-wrap" scrollbar-y='false'>
    <p class="invite-tip txt-center">邀请码</p>
    <div class="code-wrap">
      <div class="code center txt-center" ng-bind="currentCode"></div>
    </div>
    <div class="invite-btn-wrap txt-center">
      <button class="button button-light " ng-click="createNewCode()">生成邀请码</button>
      <button class="button button-clear btn-copy">复制邀请码</button>
    </div>
    <p class="txt-center main-font-color2">请将邀请码发送给您的好友，方便TA进行注册！</p>
  </ion-content>
</ion-view>