<ion-view ng-controller="GroupManageCtrl">
  <ion-nav-bar class="top-header-bg-color">
    <ion-nav-back-button class="button-icon">
      <i class="ion-ios-arrow-left"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-title>圈子管理</ion-nav-title>
  <ion-content class="main-body-bg-color has-header" scrollbar-y='false'>
    <div class="group-detail-wrap margintop10">
      <div class="control-wrap list">
        <div class="item" ng-click="openChooseMember('remove')" >
          移除成员
          <i class="right icon ion-chevron-right"></i>
        </div>
      </div>
      <div class="control-wrap list">
        <div class="item" ng-click="openChooseMember('admin')">
          设置管理员
          <i class="right icon ion-chevron-right"></i>
        </div>
      </div>
      <p class="tip padding main-font-color2">管理员可以屏蔽成员</p>
    </div>
  </ion-content>
</ion-view>
