<ion-view class="activity-detail-wrap">
  <ion-header-bar class="top-header-bg-color">
    <button class="button button-clear" ui-sref="jdb.home">
      <i class="ion-ios-arrow-left"></i>
      返回
    </button>
    <h1 class="title">活动详情</h1>
    <button class="button button-clear" ng-click="showMoreSheet()">
      <i class="icon ion-more"></i>
    </button>
  </ion-header-bar>
  <ion-content class="main-body-bg-color has-footer has-header detail-content" scrollbar-y='false'>
    <div class="detail-info-wrap">
      <h5 class="title" once-text="model.activity.title">
      </h5>
      <div class="creater padding-lr-10">
        <img class="user-head" ng-src="{{staticHost + model.activity.createUser.alumnus.headPicPath}}" src="/img/2015.jpg" alt=""/>
        <span class="name left"> <span once-text="model.activity.createUser.alumnus.school"></span>&nbsp;<span once-text="model.activity.createUser.alumnus.realName"></span></span>
        <span class="right">浏览<span once-text="model.activity.pv"></span>次</span>
      </div>
      <div class="activity-img-wrap">
        <img class="activity-img" ng-src="{{staticHost + model.activity.picPath}}" src="/img/2015.jpg" alt=""/>
        <i class="img-tag joining"></i>
      </div>
      <div class="detail-attr-wrap border-bottom">
        <div class="attr-item"><span class="title">时间：</span><span once-text="model.activity.startTime"></span></div>
        <div class="attr-item"><span class="title">地点：</span><span once-text="model.activity.address"></span></div>
        <div class="attr-item"><span class="title">人数：</span><span><span once-text="model.activity.personLimit"></span>人<span class="joined"> (<span once-text="model.activity.joinUsers.length"></span>人已报名）</span> </span></div>
        <div class="attr-item"><span class="title">费用：</span><span once-text="model.activity.joinFee"></span>元/人</div>
      </div>
      <div class="detail-content-wrap padding-lr-10 border-bottom">
        <pre once-text="model.activity.activityDesc"></pre>
      </div>
      <div class="detail-attr-wrap">
        <div class="attr-item"><span class="title">联系人：</span><span once-text="model.activity.createUser.alumnus.realName"></span></div>
        <div class="attr-item"><span class="title">电&nbsp;&nbsp;&nbsp;话：</span><span once-text="model.activity.createUser.alumnus.phone"></span></div>
      </div>
    </div>

    <div class="home-wrap detail-comment-wrap">
      <div class="topic-wrap">
        <div class="header border-bottom">
          查看评论
          <!--<a class="active" href="">热门</a><a href="">最新</a><a href="">好友</a>-->
          <i class="ion-chevron-down right"></i>
        </div>
        <div ng-repeat="item in model.comments track by item.id" class="sub-item">
          <div class="topic-user">
            <div class="user-img"><img ng-src="{{staticHost + item.commentUser.alumnus.headPicPath}}" class="img" src="/img/topic-user-img.png" alt=""/></div>
            <div class="topic-info-wrap">
              <div class="name-block">
                <span class="name" once-text="item.commentUser.alumnus.realName"></span>
                <div class="send-time-wrap"  ng-click="reply(item.id)">
                  <div class="send-time"><i class="ion-chatbubble-working"></i>&nbsp;回复(<span once-text="item.childCmtCount || 0">0</span>)</div>
                </div>
              </div>
              <div class="job light-color">
                <span once-text="item.timePast"></span>
              </div>
              <div class="content">
                <pre once-text="item.content"></pre>
              </div>
              <div class="re-comment border-bottom" ng-if="item.parentAtvCmt.commentUser">
                <span class="name" once-text="item.commentUser.alumnus.realName"></span>回复<span class="name" once-text="item.parentAtvCmt.commentUser.alumnus.realName"></span>{{item.parentAtvCmt.content }}
              </div>
            </div>
          </div>
        </div>

        <!-- -->

      </div>
    </div>
  </ion-content>
  <div class="detail-footer">
    <span ng-click="reply()" class="btn-detail comment border-top" ><i class="ion-android-textsms"></i>{{model.comments.length||0}}</span>
    <span ng-click="join()" class="btn-detail btn-detail-join" ng-class="{true:'invalid'}[model.join == 1]">立即报名</span>
  </div>
</ion-view>
